a {
    padding: 15px;
}

#login {
    float: left;
}

#register {
    float: right;
}

a:hover {
    color: chartreuse
}

#nav:hover {
    background-color: antiquewhite;
}

body {
    background: linear-gradient(to right, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(0,118,237,1) 100%);
    margin: auto;
    overflow: auto;
}

#nav {
    background-color: bisque;
    margin: auto;
    padding: 10px;
}

#page {
    max-width: 1024px;
    margin: auto;
    margin-top: 200px;
    background-color: beige;
    overflow: auto;
    padding: 50px;
    border-radius: 20px;
}

#error {
    color: red;
    font-weight: bold;
    margin: auto;
    width: 25%;
}

#success {
    color: green;
    font-weight: bold;
    margin: auto;
    width 40%;
}

input {
    margin-left: 10px;
}
