a {
    padding: 15px;
}

#login {
    float: left;
}

#register {
    float: right;
}

body {
    background-color: cornflowerblue;
    margin: auto;
}

#nav {
    background-color: bisque;
    margin: auto;
    padding: 10px;
}

#page {
    max-width: 1024px;
    margin: auto;
    margin-top: 200px;
    background-color: beige;
    overflow: auto;
    padding: 50px;
    border-radius: 20px;
}

#error {
    color: red;
    font-weight: bold;
    margin: auto;
    width: 25%;
}

#success {
    color: green;
    font-weight: bold;
    margin: auto;
    width 40%;
}

input {
    margin-left: 10px;
}
