body {
    margin: auto;
    background-color: cornflowerblue;
}

#post {
    max-width: 1024px;
    margin: auto;
    margin-top: 50px;
    border-style: double;
    background-color: beige;
}

#title {
    margin-left: 30px;
}

a {
    padding: 15px;
}

#nav {
    background-color: bisque;
    padding: 10px;
}

textarea {
    margin-left: 25px;
  width: 300px;
  height: 150px;
}

label
{
    float:left;
}