body
{
    background-image: url(mainbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;'
}

.main
{
    background: rgba(200,200,200,0.60);
    border-radius: 30px;
    padding: 20px;
    overflow: auto;
}
.nav
{
    font-size: 36px;
}
.nav a:hover
{
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 10px;
}

p
{width: 1000px;}

#me
{
    float: right;
}